<a [routerLink]="['/']">
  <h1>{{title}}</h1>
</a>

<!-- 
  <a [routerLink]="['/']" routerLinkActive="active-link">Home</a> | 

  <a [routerLink]="['/cart']" class="button fancy-button" routerLinkActive="active-link"><i class="material-icons">shopping_cart</i>Карзина</a>
  -->
<a [routerLink]="['/emp']" class="button fancy-button" routerLinkActive="active-link"><i class="material-icons">supervisor_account</i>Работники</a>
<a [routerLink]="['/products']" class="button fancy-button" routerLinkActive="active-link"><i class="material-icons">library_books</i>Продукция</a>
<a [routerLink]="['/links']" class="button fancy-button" routerLinkActive="active-link"><i class="material-icons">link</i>Ссылки</a>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->